[project]
	description = Dasein Cloud implementation for Amazon Web Services and clouds and platforms that support the AWS APIs. For more information, see the Dasein Cloud home page at https://github.com/greese/dasein-cloud.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stas Maksimov (maksimov)
[access "refs/for/refs/*"]
	read = group user/Stas Maksimov (maksimov)
	push = group user/Stas Maksimov (maksimov)
	label-Code-Review = -2..+2 group user/Stas Maksimov (maksimov)
	label-Verified = -1..+1 group user/Stas Maksimov (maksimov)
	rebase = group user/Stas Maksimov (maksimov)
	removeReviewer = group user/Stas Maksimov (maksimov)
	submit = group user/Stas Maksimov (maksimov)
[access "refs/heads/*"]
	read = group user/Stas Maksimov (maksimov)
	create = group user/Stas Maksimov (maksimov)
	push = +force group user/Stas Maksimov (maksimov)
	pushMerge = group user/Stas Maksimov (maksimov)
[access "refs/tags/*"]
	push = +force group user/Stas Maksimov (maksimov)
	pushTag = group user/Stas Maksimov (maksimov)
	pushSignedTag = group user/Stas Maksimov (maksimov)
